<div class="container">
  <div class="row justify-content-between mt-3">
    <div class="col-auto">
      <form [formGroup]="userFrom">
        <select formControlName="name"
                class="form-control">
          <option *ngFor="let patient of patientList">{{patient.fullName}}</option>
        </select>
      </form>
    </div>

    <div class="col-auto">
      <button class="btn btn-success"
              [disabled]="!(dietItemList.length > 0 && descriptionForm.valid)"
              (click)="saveDiet()">
        Save
      </button>
    </div>
  </div>

  <div class="row mt-3 justify-content-between">
    <div class="col-7">
      <div class="row justify-content-between">
        <div class="col-auto">
          <label for="product-input"
                 class="col-form-label">
            Diet items:
          </label>
        </div>
      </div>

      <div *ngFor="let dietItem of dietItemList" class="row">
        <div class="col-8">
          <p class="mb-1">{{dietItem.time}}</p>
          <p class="mb-1">{{dietItem.description}}</p>
        </div>

        <div class="col-4">
          <button (click)="removeDietItem(dietItem.description)"
                  class="btn-outline-warning">
            Remove
          </button>
        </div>

        <div class="col-12">
          <p *ngFor="let product of dietItem.products"
             class="mb-1">{{product.name}}</p>
        </div>
      </div>

      <div class="row product-form mt-4">
        <div class="col-12 form-group">
          <div class="col-12">
            <form [formGroup]="dietItemForm"
                  class="row pl-0 pr-0 mt-3">

              <div class="col-6 form-group pl-0">
                <label for="exampleTextarea">
                  Diet title
                </label>
                <input type="text"
                       formControlName="title"
                       class="form-control"/>
              </div>

              <div class="col-6 form-group">
                <label for="">
                  Diet image
                </label>
                <input type="file"
                       (change)="onFileInputChange($event)"
                       class="form-control">
              </div>

              <div class="col-8 pl-0">
                <div class="form-group">
                  <label for="exampleTextarea">
                    Diet item description
                  </label>
                  <textarea class="form-control"
                            formControlName="description"
                            id=""
                            rows="3"></textarea>
                </div>
              </div>

              <div class="col-4 pr-0">
                <div class="form-group">
                  <label for="time-input"
                         class="col-form-label">
                    Time
                  </label>
                  <div class="">
                    <input class="form-control"
                           formControlName="time"
                           type="time"
                           value="13:45:00"
                           id="time-input">
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="row mt-2">
            <div class="col-9">
              <form [formGroup]="productForm">
                <select class="form-control"
                        formControlName="name"
                        id="product-input">
                  <option *ngFor="let product of productList"
                          [value]="product.Name">{{product.Name}}</option>
                </select>
              </form>
            </div>

            <div class="col-3">
              <button class="btn badge-primary"
                      (click)="addProduct()">Add
              </button>
            </div>
          </div>

          <div *ngFor="let newProduct of newProductsList" class="row mt-3">
            <div class="col-9">
              <p class="text-primary ml-2">
                {{newProduct.name}}
              </p>
            </div>
            <div class="col-3">
              <button class="btn btn-warning"
                      (click)="removeProduct(newProduct.name)">
                Remove
              </button>
            </div>
          </div>
        </div>

        <div class="col-12 mt-2 mb-3">
          <button class="btn-outline-success"
                  (click)="addDietItem()"
                  [disabled]="!(dietItemForm.valid && newProductsList.length > 0)">
            Append diet item
          </button>
        </div>
      </div>
    </div>

    <div class="col-5">
      <form [formGroup]="descriptionForm"
            class="form-group">
        <label for="exampleTextarea">
          Diet description
        </label>
        <textarea class="form-control"
                  id="exampleTextarea"
                  formControlName="description"
                  rows="3">
        </textarea>
      </form>

      <div class="row">
        <div class="col-4">
          <img [src]="imageLoaded"
               alt=""
               class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
